@namespace xul url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
/* Firefox userChrome.css */

/* Do not display close button in tabs */
    
#tabbrowser-tabs .tabbrowser-tab .tab-close-button {
display:none !important;
}
    
/*
   Override hiding of Bookmarks Toolbar and Menu Bar in F11 full screen
   when you roll down the tabs/main toolbar 
*/

#navigator-toolbox[inFullscreen="true"] 
#PersonalToolbar, 
#toolbar-menubar, 
#menubar-items, 
#main-menubar {

  visibility: unset !important;

}

/* Hide min, max, close in title bar */

#titlebar-min, #titlebar-max, #titlebar-close
{ display: none !important; }

/* Hide minimize, restore, close in full screen */

#minimize-button, #restore-button, #close-button
{ display: none !important; }

/* Remove tab list icon */
#alltabs-button {
  display: none !important;
}

/* Don't hide menu bar in fullscreen (broke screen at top lol)

#toolbar-menubar[moz-collapsed="true"] { visibility: visible !important; }
#PersonalToolbar[moz-collapsed="true"] { visibility: visible !important; }
*/


/* Hide toolbar (ctrl-L, F6, fullscreen, hover to show) */
/*
#navigator-toolbox {
    height: 10px !important;
    min-height: 10px !important;
    overflow: hidden !important;
}

#navigator-toolbox:hover,
#navigator-toolbox:focus,
#navigator-toolbox:focus-within,
#navigator-toolbox:active,
#navigator-toolbox[inFullscreen="true"] {
    height: auto !important;
}
*/



/* /home/dennisfarmer/.mozilla/firefox/bg1kmeem.default-release/chrome */
